Repository obj-QED/react-redux: changes, and which lint-staged commands are due for each by the changed paths.
All: git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.js' | xargs yarn check-format, git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.jsx' | xargs yarn check-format, git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.scss' | xargs yarn check-format

.lintstagedrc.json:

{
  "*.js": "git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.js' | xargs yarn check-format",
  "*.jsx": "git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.jsx' | xargs yarn check-format",
  "*.scss": "git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.scss' | xargs yarn check-format"
}

added comments
  .gitignore
  src/public/index.html
  src/public/theme.css
  src/schemas/infoSchema.js
  src/schemas/loginSchema.js
  src/schemas/registrationSchema.js
  src/schemas/settingsSchema.js
  src/shared/constants.js
  src/shared/scrollToSection.js
  src/shared/utils.js
Due: git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.js' | xargs yarn check-format

fix path public folder
  .gitignore
  public/.htaccess
  public/close.php
  public/closeGame.html
  public/core.js
  public/index.html
  public/index.php
  public/manifest.json
  public/offline.html
  public/robots.txt
  public/settings.js
  public/settings.php
  public/sw.js
  public/theme.css
  public/winners-block.json
  src/public/config.php
Due: git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.js' | xargs yarn check-format

translate README.md
  README.md
Due: none

added comments
  src/hooks/useBrowserAndOSDetection.js
  src/hooks/useDebounce.js
  src/hooks/useIpUser.js
  src/hooks/useNotification.js
  src/hooks/useOutsideClick.js
  src/hooks/usePrevious.js
  src/hooks/useQuery.js
  src/hooks/useReduxView.js
  src/hooks/useSkipInitialEffect.js
  src/hooks/useSocialAuth.js
  src/hooks/useWebSocket.js
  src/shared/utils.js
Due: git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.js' | xargs yarn check-format

update hooks && schemas
  src/hooks/useBrowserAndOSDetection.js
  src/hooks/useDebounce.js
  src/hooks/useIpUser.js
  src/hooks/useNotification.js
  src/hooks/useOutsideClick.js
  src/hooks/usePrevious.js
  src/hooks/useReduxView.js
  src/hooks/useSkipInitialEffect.js
  src/hooks/useSocialAuth.js
  src/hooks/useWebSocket.js
  src/schemas/walletSchema.js
  src/shared/scrollToSection.js
  src/shared/utils.js
Due: git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.js' | xargs yarn check-format

update
  src/hooks/index.js
  src/hooks/useCopyClipboard.js
  src/hooks/useNotification.js
  src/hooks/useReduxView.js
  src/hooks/useSocialAuth.js
  src/schemas/AuthSchema.js
  src/schemas/ProfileSchema.js
  src/schemas/loginSchema.js
  src/shared/utils.js
Due: git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.js' | xargs yarn check-format

update
  src/assets/mixins/mixins.scss
  src/assets/style/container.scss
  src/assets/style/custom.scss
  src/assets/style/page-custom.scss
  src/hooks/autoLogin.js
  src/hooks/useCopyClipboard.js
  src/hooks/useFullscreen.js
  src/hooks/useNotification.js
  src/hooks/usePreloadImages.js
  src/hooks/useReduxView.js
  src/schemas/AuthSchema.js
  src/schemas/ProfileSchema.js
  src/schemas/walletSchema.js
  src/shared/imageFailed.js
  src/shared/imagePathes.js
  src/shared/utils.js
Due: git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.js' | xargs yarn check-format, git diff --cached --name-only --diff-filter=ACMRTUXB -- '*.scss' | xargs yarn check-format
